/*
  style.css

  This file is the main file used to style
  the users public band page.
*/

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  background-color: white;
  height: 100%
}

/*
  band name title of the page
*/
#bandname {
  text-align: center;
}

.container {
  margin: 0 auto;
}

button {
  border-style: none;
}

/*
  global settings for tables on the page
*/
table {
  margin: auto;
  width: 100%;
  font-size: 1.3em;
}

th {
  text-align: center;
}

td {
  padding: 5px;
}

/*
  Left Pane song list styles
*/

.leftTable {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-collapse: separate;
  margin-bottom: 10px; 
}

.leftTable th {
  background-color: black;
  color: white;
}

.numHeader {
  width: 10px;
}

.leftTable button {
  border-radius: 10px;
  border-style: solid;
  border-color: #AAAAAA;
  background-color: #EEEEEE;
  width: 100%;
}

.activeSongClass button{
  border-color: #4C83EF !important;
  background-color: #95BCF2 !important;
}

/* 
  jQuery Tabs styles
*/
.nav-tabs>li>a{
  border: 1px solid #DDD;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
  border: 1px solid #999;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
  background-color: #EEE;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: 1px solid #666;
  border-bottom-color: transparent;
  background-color: #DDD;
  color: #333;
}

/*
  Center Pane audio controller
*/
#controls {
  background-color: #EEEEEE;
  padding-top: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
}

#controls input{
  border-style: solid;
  border-color: white;
  border-radius: 100px;
  border-width: 0px;
  background-color: black;
  margin-top: 5px;
  width: 10%;
  max-width: 100px;
  min-width: 45px;
}

#nowPlaying{
  text-align: center;
  color: black;
  font-size: 1.2em;
  margin: auto;
  width:90%;
}

#time{
  color: black;
  margin: 10px;
}

#timeSpent{
  float: left;
  text-align: left;
}

#timeRemaining{
  float: right;
  text-align: right;
}

#progress {
  margin: 0px 40px 10px 40px;
  border: 3px solid;
  border-color: #666666;
  border-radius: 13px;
  cursor: pointer;
  background-color: black;
  height: 21px;
}

#bar {
  margin-right: -12px;
  height: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 0;
  border-width: 2px;
  border-color: red;
  background-color: #33ffcc;
  max-width: 99%;
  display: inline-block;
  float:left;
  margin-right: -5px;
}

#bar, #circle2 {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#circle1 {
  background: rgb(242,246,248); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

#progress {
  background: rgb(149,149,149); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

#circle1 {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-left: -5px;
  margin-right: -5px;
}

#circle2 {
  width:15px;
  height:15px;
  border-radius:50px;
  display:inline-block;
  float:left;
  margin-right: -10px;
}

#songInfo {
  background-color: #EEEEEE;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

#infoTable {
  width: 80%;
}

/*
  Right Pane task list
*/
div#toDoList {
  background-image: url("../img/notepad.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 15px;
  padding-bottom: 100px;
}

#taskTable th {
  padding-top: 20px;
  color:black;
}

#taskTable td {
  padding-left: 30px;
}

#toDoList button {
  background-color: #FBF587;
  border-radius: 10px;
  border-style: solid;
  border-color: #B3CFD3;
}

.activeTaskClass button{
  border-color: #4C83EF !important;
  background-color: #95BCF2 !important;
}

.hidden{
  display:none;
}

.unclickable{
  cursor: default;
}