<!DOCTYPE html>
<html ng-app="bandmaster">
    <head>
        <title>*Band Name* Hub</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links to include bootstrap and jQuery. -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!-- Link to load the AngularJS framework.-->
        <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js></script>

        <!-- JavaScript Includes -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <!-- jQuery File Upload Dependencies -->
        <script src="assets/js/jquery.ui.widget.js"></script>
        <script src="assets/js/jquery.fileupload.js"></script>
        <script src="assets/js/jquery.knob.js"></script>
        <script src="assets/js/uploadScript.js"></script>
        <script src="assets/js/dialog.js"></script>

        <!-- External Javascript file containing custom functions and the AngularJS 
             model and controller that allow the page to function.-->
        <script src="assets/js/Bandmaster.js"></script>

        <!-- Link to CSS file used to stylize the page.-->
        <link href="assets/css/PKstyleV3.css" rel="stylesheet" type="text/css"> 
        <!-- The main CSS file -->
        <link href="assets/css/style.css" rel="stylesheet" />







    </head>

    <!-- Directive which says this page will use the bandmasterCtrl ng-controller. -->
    <body ng-controller="bandmasterCtrl" ng-init='load()'>

        <!-- Bootstrap container for the entire body.-->
        <div class="container-fluid">

            <!-- band name will be based off of json data.-->
            <center><h1>Band Name</h1></center>

            <!-- Div that contains the list of songs. An ng-class is applied to the different song groupings. -->
            <div class="col-md-4" id="setlist" >


                <div><center><p style="color:white">#tabs</p></center></div>
                <!-- A container for the actual list of songs. -->

                <div id="tableDiv">
                    <form id="upload" method="post" action="upload.php"  enctype="multipart/form-data">
                        <div id="drop">
                            Drop
                            <div id="green_circle"></div>
                            <a>Browse</a>
                            <input type="file" name="upl" multiple />
                        </div>
                    </form>
                    <!-- As the download table has a third column, it is built separately and then hidden when
                         not in use. This should DEFINITELY be reimplemented with AJAX -->
                    <table >
                        <!-- Table headers for the playlist songs names and lengths.-->
                        <tr>
                            <th class="numHeader">#</th>
                            <th class="songHeader">{{tableName}}</th>
                        </tr>

                        <!-- Contains the song names and their index. -->


                        <tr ng-class="{move: i.name === audioActive}" ng-repeat="i in myList" >
                            <td>{{$index + 1}}</td>
                            <td class="songRow">
                                <button ng-click="updateActive(i)">{{i.name}}</button>
                            </td>
                            <td><button ng-click="deleteFile(i, $index)">X</button></td>
                            <td>
                                <span ng-click="startDownload(i.name)" class="downloads glyphicon glyphicon-floppy-save" ></span> 
                            </td>
                        </tr>

                    </table><!-- End of play list table.-->

                </div>

            </div><!-- End left pane-->
            <!-- Container for the audio player. This includes the progress bar, play-head, song name and time.-->

            <div class="hubPane col-md-4">
                <div id="interaction">
                    <audio id="my-audio" ng-src="{{audioActive|audioFilter}}"></audio>

                    <div id="controls">
                        <!-- custom play and pause buttons -->
                        <input type="image" ng-src="{{playbackIcon}}" alt="UP" ng-click="togglePlayback()"/>

                        <div id="nowPlaying"><span>&nbsp;{{nowPlaying}}&nbsp;</span></div>
                        <div id="time">

                            <span id="timeSpent">{{timeSpent| number:0|timeFilter}}</span>
                            <span id="timeRemaining">-{{timeRemaining| number:0 |timeFilter}}</span>

                        </div>
                    </div>

                    <div id="progress">
                        <span id="circle2"></span>
                        <span id="bar"></span>
                        <span id="circle1"></span>
                    </div><!-- End progress bar-->


                </div><!-- End interaction div-->



                <div><p style="color:white">#currently playing downloads</p></div>
            </div>

            <div class="hubPane col-md-4">
                <div><p style="color:white">#calender</p></div>



                <div id="toDoList"><p style="color:white">To Do List</p>
                    <table>
                        <!-- Table headers for the playlist songs names and lengths.-->


                        <!-- Contains the song names and their index. -->


                        <tr ng-class="{activeTaskClass: i.task === activeTask}" ng-repeat="i in taskList" >
                            <td> <button ng-click="updateActiveTask($index, i)">{{i.task}}</button></td>
                        </tr>

                    </table><!-- End of play list table.-->

                    <div id="newTaskButton">
                        <input type="button" onclick="showNewTaskBox()" value="New Task">
                        <input type="button" ng-click="removeActiveTask()" value="Remove Active Task">
                    </div>
                </div>


                <form id="newTaskBox" class="hidden">
                    New Task: <input id="taskInput" type="text" name="NewTask" value=""><br>
                    <input type="button" onclick="addTask()" value="Add Task">
                    <input type="button" onclick="closeNewTaskBox()" value="Close">
                </form>
            </div>

        </div><!-- End wrapper -->





    </body>

</html>
