<!DOCTYPE html>
<html ng-app="bandmaster">
  <head>
    <title>Bandmaster Hub</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links to include bootstrap and jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Link to load the AngularJS framework.-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <!-- External Javascript file containing custom functions and the AngularJS 
         model and controller that allow the page to function -->
    <script src="../../assets/js/Bandmaster.js"></script>

    <!-- CSS styling links -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <script>var thisPath = location.pathname;</script>
  </head>

  <!-- Directive which says this page will use the bandmasterCtrl ng-controller -->
  <body ng-controller="bandmasterCtrl" ng-init='load("public", thisPath)'>
    <!-- Bootstrap wrapper for the entire body.-->
    <div class="container-fluid">

      <!-- band name will be based off of json data -->
      <h1 id="bandname">{{bandname}}</h1>

      <!-- panes are ordered "incorrect" in the html to make it work with bootstrap -->

      <!-- MIDDLE pane containing the audio player -->
      <div class="col-md-4 col-md-push-4 hubPane">
        <audio id="my-audio" ng-src="{{audioActive|audioFilter}}"></audio>
        <div id="controls">
          <!-- custom play and pause buttons -->
          <input type="image" ng-src="{{playbackIcon}}" alt="UP" ng-click="togglePlayback()">
          <p id="nowPlaying">&nbsp;{{nowPlaying}}&nbsp;</p>
          <div id="time">
            <span id="timeSpent">{{timeSpent| number:0|timeFilter}}</span>
            <span id="timeRemaining">-{{timeRemaining| number:0 |timeFilter}}</span>
          </div> <!-- end time div -->
          <div id="progress">
            <span id="circle2"></span>
            <span id="bar"></span>
            <span id="circle1"></span>
          </div><!-- end progress bar-->
        </div><!-- end controls div-->
        <div id="infoPanel">
          <!-- dynamic content goes here -->
        </div><!-- end infoPanel div -->
      </div> <!-- end of middle pane -->

      <!-- LEFT pane containing the song list -->
      <div class="col-md-4 col-md-pull-4" id="setlist">
        <!-- jQuery tabs list -->
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#songs" data-toggle="tab">Songs</a></li>
          <li><a href="#sheetMusic" data-toggle="tab">Sheet Music</a></li>
          <li><a href="#downloads" data-toggle="tab">Downloads</a></li>
        </ul>
        <!-- jQuery tabs content -->
        <div id="my-tab-content" class="tab-content">
          <!-- songs -->
          <div class="tab-pane active" id="songs">
            <!-- table for song list -->
            <table class="leftTable">
              <tr>
                <th class="numHeader">#</th>
                <th>Songs</th>
                <th></th>
              </tr>
              <tr ng-class="{activeSongClass: i.name === audioActive}" ng-repeat="i in myList" >
                <td>{{$index + 1}}</td>
                <td>
                  <button ng-click="updateActive(i)">{{i.name}}</button>
                </td>
                <td>
                  <span ng-click="startDownload(i.name)" class="downloads glyphicon glyphicon-floppy-save" alt="Download Song"></span>
                </td>
              </tr>
            </table> <!-- end of song table -->
          </div> <!-- end of songs tab -->
          <!-- sheet music -->
          <div class="tab-pane" id="sheetMusic">
            <table class="leftTable">
              <tr>
                <th class="numHeader">#</th>
                <th>Sheet Music</th>
                <th></th>
              </tr>
              <tr ng-class="{activeSongClass: i.name === audioActive}" ng-repeat="i in myList" >
                <td>{{$index + 1}}</td>
                <td>
                  <button ng-click="updateActive(i)">{{i.name}}</button>
                </td>
                <td>
                  <span ng-click="startDownload(i.name)" class="downloads glyphicon glyphicon-floppy-save" alt="Download Song"></span>
                </td>
              </tr>
            </table> <!-- end of sheet music table -->
          </div> <!-- end of sheet music tab -->
          <!-- downloads -->
          <div class="tab-pane" id="downloads">
            <table class="leftTable">
              <tr>
                <th class="numHeader">#</th>
                <th>Downloads</th>
                <th></th>
              </tr>
              <tr ng-class="{activeSongClass: i.name === audioActive}" ng-repeat="i in myList" >
                <td>{{$index + 1}}</td>
                <td>
                  <button ng-click="updateActive(i)">{{i.name}}</button>
                </td>
                <td>
                  <span ng-click="startDownload(i.name)" class="downloads glyphicon glyphicon-floppy-save" alt="Download Song"></span>
                </td>
              </tr>
            </table> <!-- end of downloads table -->
          </div> <!-- end of downloads tab -->
        </div> <!-- end of jQuery tab content -->
      </div> <!-- end of left pane -->

      <!-- RIGHT pane containing task list and calendar-->
      <div class="col-md-4 hubPane">
        <div id="toDoList">
          <!-- table for task list -->
          <table id="taskTable">
            <tr>
              <th><h2>To Do List</h2></th>
            </tr>
            <tr ng-class="{activeTaskClass: i.task === activeTask}" ng-repeat="i in taskList" >
              <td> <button ng-click="updateActiveTask($index, i)">{{i.task}}</button></td>
            </tr>
          </table> <!-- end of task list table -->
        </div> <!-- end of toDoList div -->
      </div> <!-- end of right pane -->

    </div> <!-- end of bootstrap container -->
  </body>
</html>